<p>
    Email: <br />
    <input type="email" [formControl]="emailCtrl">
</p>
<div>
  <p *ngIf="emailCtrl.errors && emailCtrl.touched">
    <small *ngIf="emailCtrl.hasError('required')">El campo es requerido</small>
    <small *ngIf="emailCtrl.hasError('minlength')">Debe ser mínimo de 4 caracteres</small>
    <small *ngIf="emailCtrl.hasError('maxlength')">Debe ser maximo de 10 caracteres</small>
  </p>
</div>
<button [disabled]="emailCtrl.invalid" type="button" (click)="getEmail($event)">Save</button>
